alabaster
asttokens
autodocsumm
autograd
babel
cache3
certifi
charset-normalizer
colorama
colorlog
comm
cuda-python
cycler
Cython
data
debugpy
decorator
DeepXDE
dill
docutils
#efficient-kan
emcee
exceptiongroup
executing
#fastkan
filelock
fonttools
fsspec
funcsigs
future
gstools
hankel
idna
imageio
imagesize
iniconfig
ipykernel
ipython
jax
jaxlib
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
latex
latexcodec
latexpp
latext
LinearRegression
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
meshio
ml-dtypes
mpmath
multiprocess
nest-asyncio
networkx
numpy
numpy-stl
opencv-python
opt-einsum
packaging
pandas
parso
Pillow
pip
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
py4j
pyaml
pyDOE
pyevtk
Pygments
pylatexenc
pyparsing
pyspark
pytest
python-dateutil
python-utils
pytz
pywin32
PyYAML
pyyaml-erb
pyyaml_util
pyyamllib
PyYAMLp
pyzmq
requests
rich
SALib
scikit-learn
scikit-optimize
scipy
seaborn
setuptools
shutilwhich
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
sympy
tempdir
threadpoolctl
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing
typing_extensions
tzdata
urllib3
wcwidth
#git+https://github.com/uwjunqi/Pytorch-Tensor-Train-Network.git
#git+https://github.com/KindXiaoming/pykan.git
#git+https://github.com/Blealtan/efficient-kan.git
#git+https://github.com/ZiyaoLi/fast-kan.git